version: "3.8"

services:
  app:
    build: .
    container_name: phonestore-app
    ports:
      - "3000:3000"
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 300M
    restart: always

  prometheus:
    image: prom/prometheus
    container_name: phonestore-prometheus
    volumes:
      - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - app
    restart: always

  grafana:
    image: grafana/grafana-oss
    container_name: phonestore-grafana
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    restart: always

